.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 80px;
	font-family: 'Avenir', sans-serif;
	text-align: center;
}

.actionButtonsStyle {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.divider {
	margin: 20px;
	border-width: 1px;
}

.aboutTitle {
	margin-bottom: 0px;
}