.modalContent {
	width: 500px;
	display: flex;
	flex-direction: column;
}

.roomWrapper {
	padding: 20px;
	display: flex;
	flex-direction: row;
}

.videoSection {
	flex: 3;
	background-color: white;
	padding: 10px;
}

.video {
	width: 85%;
	height: 500px;
}

.chatSection {
	flex: 1;
	height: 500px;
	background-color: #aaa;
}